{% extends "base.html" %}
{% block content %}
<h1>編集</h1>
<form method="POST">
    <table border="1">
        <tr>
            <th>期日</th>
            <th>タスクの内容</th>
            <th>重要度</th>
        </tr>
        <tr>
            <td>
                <input type="text" name="deadline" value="{{post.deadline}}">
            </td>
            <td>
                <input type="text" name="body" value="{{post.body}}">
            </td>
            <td>
                <input type="text" name="priority" value="{{post.priority}}">
            </td>
        </tr>
    </table>
    <input type="submit" value="編集">
</form>
<a href="/" role="button">一覧に戻る</a>
{% endblock %}