{% extends "base.html" %}
{% block content %}
<h1>編集</h1>
<form method="POST">
    <table border="1">
        <tr>
            <th>期日</th>
            <th>タスクの内容</th>
            <th>重要度</th>
        </tr>
        <tr>
            <td>
                <input type="data" id="deadline" name="deadline" value="{{ post.deadline }}" required>
            </td>
            <td>
                <input type="text" id="body" name="body" value="{{ post.body }}" required>
            </td>
            <td>
                <select id="priority" name="priority" required>
                    <option value="低" {% if post.priority == "低" %}selected{% endif %}>低</option>
                    <option value="中" {% if post.priority == "中" %}selected{% endif %}>中</option>
                    <option value="高" {% if post.priority == "高" %}selected{% endif %}>高</option>
                </select>
            </td>
        </tr>
    </table>
    <input type="submit" value="編集">
</form>
<a href="/" role="button">一覧に戻る</a>
{% endblock %}