{% extends "base.html" %}
{% block content %}
<h1>タスクの一覧表示</h1>
    <a href="/regist" role="button">新規登録</a>
    <!-- <a href="/logout" role="button">ログアウト</a> -->

    {% if tusk_list == [] %}
        <p>登録したタスクはありません</p>
    {% else %}
        <table border="1">
            <tr>
                <th>期日</th>
                <th>タスク内容</th>
                <th>重要度</th>
            </tr>
            {% for tusk in tusk_list %}
                <tr>
                    <td>{{tusk.deadline}}</td>
                    <td>{{tusk.body}}</td>
                    <td>{{tusk.priority}}</td>
                    <td>
                        <a href="/{{tusk.id}}/edit" role="button">編集</a>
                        <a href="/{{tusk.id}}/delete" role="button">削除</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

