{% extends "base.html" %}
{% block content %}
<h1>登録された商品</h1>
    <!-- <a href="/regist" role="button">新規登録</a>
    <a href="/logout" role="button">ログアウト</a> -->

    {% if item_list == [] %}
        <p>メモは登録されていません</p>
    {% else %}
        <table border="1">
            <tr>
                <th>商品名</th>
                <th>URL</th>
                <th>値段(円)</th>
                <th>確認した日付</th>
            </tr>
            {% for memo in item_list %}
                <tr>
                    <td>{{memo.name}}</td>
                    <td>{{memo.url}}</td>
                    <td>{{memo.current_price}}</td>
                    <td>{{memo.last_checked}}</td>
                    <!-- <td>
                        <a href="/{{memo.id}}/edit" role="button">編集</a>
                        <a href="/{{memo.id}}/delete" role="button">削除</a>
                    </td> -->
                </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}

