{% extends "base.html" %}
{% block content %}
<h1>新規登録</h1>
<form method="POST">
    <table border="1">
        <tr>
            <th>期日</th>
            <th>タスクの内容</th>
            <th>重要度</th>
        </tr>
        <tr>
            <td>
                <input type="date" name="deadline">
            </td>
            <td>
                <input type="text" name="body">
            </td>
            <td>
                <input type="text" name="priority">
            </td>
        </tr>
    </table>
    <input type="submit" value="新規登録">
</form>
<a href="/" role="button">一覧に戻る</a>
{% endblock %}